In [22]:
#Import all of our dependencies
import json
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import psycopg2
import config2
import requests
import time

# Start engine and define our first part of our data set

In [23]:
#Create our engine for SQLAlchemy
engine = create_engine(f'postgresql+psycopg2://postgres:{config2.postgres}@localhost/Zillow-Data')

In [24]:
#Establish and prepare our Base
Base = automap_base()

In [25]:
Base.prepare(autoload_with=engine)

In [26]:
#Check that we have the right database by extracting our classes
Base.classes.keys()

['city_data', 'regions', 'indicators', 'data']

In [27]:
#Name our classes to variables
data = Base.classes.data
regions = Base.classes.regions
indicators = Base.classes.indicators
cities = Base.classes.city_data

In [28]:
#Initiate our session
session = Session(engine)

In [32]:
#Pull the name data from SQL for each city region
city_data = []

for row in session.query(regions.region_id, regions.region).filter(regions.region_type == 'city'):
    name = row[1].split(";")[0]
    state = row[1].split(";")[1]
    id = row[0]
    city_dict = {}
    city_dict["name"]=name
    city_dict["state"]=state
    city_dict["id"]=id
    city_data.append(city_dict)

In [9]:
#Check max length/size of data set
len(city_data)

28125

# Geoapify Calls

Calls were segmented by 3,000s as this is the daily rate limit for Geoapify.

In [14]:
#Begin geoapify calls to get coordinate information for each city
missing_cities = []
for x in range(0,3000):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

x passed 0
x passed 100
x passed 200
x passed 300
x passed 400
x passed 500
x passed 600
x passed 700
x passed 800
x passed 900
x passed 1000
x passed 1100
x passed 1200
x passed 1300
x passed 1400
x passed 1500
x passed 1600
x passed 1700
x passed 1800
x passed 1900
x passed 2000
x passed 2100
x passed 2200
x passed 2300
x passed 2400
x passed 2500
x passed 2600
x passed 2700
x passed 2800
x passed 2900

In [26]:
for x in range(3000,6000):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

x passed 3000
x passed 3100
x passed 3200
x passed 3300
x passed 3400
x passed 3500
x passed 3600
x passed 3700
x passed 3800
x passed 3900
x passed 4000
x passed 4100
x passed 4200
x passed 4300
x passed 4400
x passed 4500
x passed 4600
x passed 4700
x passed 4800
x passed 4900
x passed 5000
x passed 5100
x passed 5200
x passed 5300
x passed 5400
x passed 5500
x passed 5600
x passed 5700
x passed 5800
x passed 5900

In [30]:
for x in range(6000,9000):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

x passed 6000
x passed 6100
x passed 6200
x passed 6300
x passed 6400
x passed 6500
x passed 6600
x passed 6700
x passed 6800
x passed 6900
x passed 7000
x passed 7100
x passed 7200
x passed 7300
x passed 7400
x passed 7500
x passed 7600
x passed 7700
x passed 7800
x passed 7900
x passed 8000
x passed 8100
x passed 8200
x passed 8300
x passed 8400
x passed 8500
x passed 8600
x passed 8700
x passed 8800
x passed 8900

In [ ]:
for x in range(9000,12000):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

In [65]:
for x in range(12000,15000):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

x passed 12000
x passed 12100
x passed 12200
x passed 12300
x passed 12400
x passed 12500
x passed 12600
x passed 12700
x passed 12800
x passed 12900
x passed 13000
x passed 13100
x passed 13200
x passed 13300
x passed 13400
x passed 13500
x passed 13600
x passed 13700
x passed 13800
x passed 13900
x passed 14000
x passed 14100
x passed 14200
x passed 14300
x passed 14400
x passed 14500
x passed 14600
x passed 14700
x passed 14800
x passed 14900

In [70]:
for x in range(15000,18000):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

x passed 15000
x passed 15100
x passed 15200
x passed 15300
x passed 15400
x passed 15500
x passed 15600
x passed 15700
x passed 15800
x passed 15900
x passed 16000
x passed 16100
x passed 16200
x passed 16300
x passed 16400
x passed 16500
x passed 16600
x passed 16700
x passed 16800
x passed 16900
x passed 17000
x passed 17100
x passed 17200
x passed 17300
x passed 17400
x passed 17500
x passed 17600
x passed 17700
x passed 17800
x passed 17900

In [44]:
for x in range(18000,21000):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

x passed 18000
x passed 18100
x passed 18200
x passed 18300
x passed 18400
x passed 18500
x passed 18600
x passed 18700
x passed 18800
x passed 18900
x passed 19000
x passed 19100
x passed 19200
x passed 19300
x passed 19400
x passed 19500
x passed 19600
x passed 19700
x passed 19800
x passed 19900
x passed 20000
x passed 20100
x passed 20200
x passed 20300
x passed 20400
x passed 20500
x passed 20600
x passed 20700
x passed 20800
x passed 20900

In [ ]:
for x in range(21000,24000):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

In [ ]:
missing_cities = []
for x in range(24000,len(city_data)-1):
    if x % 100 == 0:
        print(f"x passed {x}")
    i=city_data[x]
    temp_name = i["name"].replace(" ", "%20")
    temp_state=i["state"].replace(" ", "%20")
    try:
        geoapify_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={temp_name}%20{temp_state}&type=city&format=json&apiKey=b990133714874a7698ae3eefcc3f9442"
        response = requests.get(geoapify_url).json()
    except ConnectionError:
        missing_cities.append(i["id"])
        pass
    try:
        lat = response["results"][0]["lat"]
        lon = response["results"][0]["lon"]
    except IndexError:
        missing_cities.append(i["id"])
        city_data.remove(i)
    i["lat"]=lat
    i["lon"]=lon

In [35]:
test_df = pd.DataFrame(city_data)
test_df

                         name state      id        lat        lon
0      Greater Upper Marlboro    MD  396727        NaN        NaN
1         Town of Sandy Creek    NY  399041        NaN        NaN
2                  Union Vale    NY  399174        NaN        NaN
3            Town of Canisteo    NY  397202        NaN        NaN
4             German Township    PA  398031        NaN        NaN
...                       ...   ...     ...        ...        ...
27460                Stamford    NE   47820  40.131046 -99.594072
27461                  Joplin    MT   49376        NaN        NaN
27462                 Harmans    MD   45657        NaN        NaN
27463                  Husser    LA    5248        NaN        NaN
27464                  Vassar    MI   54924        NaN        NaN

[27465 rows x 5 columns]

In [ ]:
#Put all information gained from current and past geoapify calls into our data set, make sure that we match the names up
pre_data = pd.read_csv("Resource-CSVs/city_df.csv")
test_df = pd.DataFrame(city_data)
names = test_df["name"]
states = test_df["state"]
alt_states = [state.replace(" ", "") for state in states]
full_names = []
alt_full_names = []
for i in range(0,len(names)):
    full_name =f"{names[i]},{states[i]}"
    alt_full_name = f"{names[i]},{alt_states[i]}"
    full_names.append(full_name)
    alt_full_names.append(alt_full_name)
for index in range(0,len(full_names)):
    try:
        test_df.loc[(test_df["name"]==names[index])&((test_df["state"]==states[index])|(test_df["state"]==alt_states[index])),"lat"]=pre_data.loc["lat",full_names[index]]
        test_df.loc[(test_df["name"]==names[index])&((test_df["state"]==states[index])|(test_df["state"]==alt_states[index])),"lon"]=pre_data.loc["lon",full_names[index]]
    except KeyError:
            pass

# Data Processing, Load to SQL

In [8]:
# Run if avoiding repeating the geoapify calls, to pull the stored city information
test_df = pd.read_csv("Resource-CSVs/city_df.csv")

In [36]:
#Remove any missed cities
test_df=test_df.dropna()
len(test_df)

2806

In [59]:
#Make a back-up CSV for a new table in SQL if needed
test_df.to_csv("Resource-CSVs/city_df.csv", header=True)

In [37]:
#Store all of the obtained coordinate information on the SQL server
for index, row in test_df.iterrows():
    city = session.query(regions).filter_by(region_id = str(test_df['id'][index])).first()
    city.lat = test_df['lat'][index]
    city.lon = test_df['lon'][index]
    city.city_name = f"{test_df['name'][index]}, {test_df['state'][index].split(' ')[-1]}"
    session.commit()

In [38]:
#Check that at least one of the locations was updated in SQL
responses = session.query(regions.region_id, regions.lat, regions.lon, regions.city_name).filter_by(region_id = str(test_df['id'][index]))
for region in responses:
    print(region)

('47820', 40.131046, -99.594072, 'Stamford, NE')

In [40]:
#Check for total data points that we found coordinates for
response = session.query(func.count(regions.lat)).filter(regions.lat != None)
for data in response:
    print(data)

(16268,)

In [43]:
all_known_data = []
response = session.query(regions.region_id, regions.city_name, regions.lat, regions.lon).filter(regions.lat != None)
for id, name, lat, lon in response:
    all_known_data.append({"region_id":id, "lat":lat, "lon":lon, "city_name":name})
export_df = pd.DataFrame(all_known_data)
export_df.to_csv("Resource-CSVs/cities_for_SQL_import.csv")

In [116]:
#Make sure we have no uncommitted changes
session.dirty

IdentitySet([])

In [15]:
#Query for the highest and lowest values for property values
response = session.query(func.max(data.value), func.min(data.value)).filter((data.indicator_id == "Z1BR") | (data.indicator_id == "Z5BR"))
for i in response:
    print(i)

(32731812.0, 8029.92622806919)

In [117]:
#Close the session
session.close()